{% extends "layout.twig" %}

{% block title %}Сайт {{ url.name }}{% endblock %}

{% block content %}
<div class="container-lg">
    <h1 class="mt-5 mb-3">Сайт: {{ url.name }}</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ url.id }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ url.name }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ url.createdAt }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2 class="mt-5 mb-3">Проверки</h2>

    <div>
        <form method="post" action="{{ url_for(routes.urls_checks_store, {'id': url.id}) }}">
            <button type="submit" class="btn btn-primary">Запустить проверку</button>
        </form>

        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="checks">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
                </thead>
                <tbody>
                {% if checks is not empty %}
                    {% for check in checks %}
                        <tr>
                            <td>{{ check.id }}</td>
                            <td>{{ check.responseCode }}</td>
                            <td>{{ check.h1|default('') }}</td>
                            <td>{{ check.title|default('') }}</td>
                            <td>{{ check.description|default('') }}</td>
                            <td>{{ check.createdAt }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Проверок пока нет</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
